/* CSS styles */
/* Base Layout oleh Febri */
/* Branch: BASE */
/* Penanggung Jawab Branch: Febri */

/* Sidebar */
.sidebar {

  backdrop-filter: blur(10px); /* Efek blur */
    background-color: rgba(0, 0, 0, 0.6); /* Warna dengan opacity */
}

.sidebar:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.sidebar.touch {
  background-color: rgba(0, 0, 0, 0.8); /* Warna hitam saat disentuh */
}


@media (min-width: 768px) {
  .sidebar {
      height: calc(100vh - 56px);
     /* Adjust for the navbar height */
 }
}
/* Hide Sidebar on Small Devices */
@media (max-width: 767.98px) {
  .sidebar.hide {
      display: none;
 }
}
/* footer */
.footer {
  background-color: rgba(0, 0, 0, 0.6);
 /* Dark background color */
  color: white;
 /* Text color */
  padding: 16px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
/* Tombol Toggle Sidebar hanya muncul di mode mobile */
@media (min-width: 768px) {
  .toggle-sidebar-mobile {
      display: none;
 }
}
/* Tombol Toggle Sidebar hanya muncul di mode desktop */
@media (min-width: 1080px) {
  .toggle-sidebar-desktop {
      display: none;
 }
}
.rythym-background {
  position: relative;
 /* Make sure the container is positioned */
  background-image: url('../img/bg.png');
  background-size: cover;
  background-position: center;
}
.overlay {
  position: fixed;
 /* Fixed position */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
 /* Adjust the alpha value for opacity and the RGB values for darkness */
  z-index: -1;
 /* Push the overlay below other content */
}
.blur {
  filter: blur(5px);
 /* Adjust blur amount as needed */
}
/* Search Bar netflix */
.input-group {
  margin-top: 20px;
 /* Adjust margin as needed */
}
.form-control {
  border: none;
 /* Remove border */
  border-radius: 0;
 /* Remove border radius */
  box-shadow: none;
 /* Remove box shadow */
  background-color: rgba(0, 0, 0, 0.6);
 /* Dark background color */
  color: white;
 /* Text color */
}
.form-control:focus {
  border-color: none;
 /* Remove border color on focus */
  box-shadow: none;
 /* Remove box shadow on focus */
}
.btn-outline-secondary {
  color: white;
 /* Button text color */
  border-color: white;
 /* Button border color */
}
.btn-outline-secondary:hover {
  color: white;
 /* Button text color on hover */
  background-color: rgba(255, 255, 255, 0.2);
 /* Button background color on hover */
}





/* Content Trending Banner oleh Jarwo */
/* Branch: TRENDING */
/* Penanggung Jawab Branch: Jarwo */
.card-banner > .card-body > .card-title{
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 10px;
  height: 10px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  background: #ff000000;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 100%;
  height: 100%;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1);
  opacity: 1;
}
.slider-card {
  background: #00000000;
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 15px;
  transition: all 1s;
  transform: scale(0.9);
  opacity: 1;
}
.slider-card img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  border-radius: 15px;
}
.trending-banner-text{
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(360eg, #161616b9, 35%, rgba(73,73,73,0.23), 64%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-top: 10px;
}
/* Overlay */
.slider-card-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  border-radius: 15px;
  background-color: rgba(27, 27, 27, 0.5);
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
  display: none;
  z-index: 2;
}
.fas.fa-play:hover {
  cursor: pointer;
  color: rgb(0, 38, 255);
  transform: scale(1.3);
  transition: all 0.2s ease;
}
.slider-card-overlay i{
  font-size: 40px;
}
.owl-item.active.center:hover >.slider-card >.slider-card-overlay{
  top: 0px;
  transition: all ease 0.3s;
  display: flex;
}
/* Jenis Trend */
.jenis{
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 10px;
  height: 10px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 15px;
}
/* Nama */
.movie-name{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 150px;
  margin-left: 5px;
}
.movie-name span{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #ffffff;
}
.movie-name strong{
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 2px;
  letter-spacing: 0,5px;
  color: #ffffff;
}
/* Kategori & Rating */
.kategori-rating{
  display: flex;
}
.rating{
  margin-left: 230px;
}
.rating img{
  height: 40px;
  width: 80px;
  object-fit: contain;
  object-position: center;
}
/* Pop Up */
.modal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
}
.modal-dialog {
  position: relative;
  height: 820px;
  border-radius: 15px;
  background-color: black;
}
.modal-content{
  border-radius: 15px;
  border: #ffffff;
  background-color: #55555500;
}
.video-content{
  position: relative;
  max-width: 90%;
  width: 640px;
  height: 325px;
  border-radius: 15px;
  margin: 10px auto;
  padding-bottom: 50.25%;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0);
}
.video-content iframe {
  position: absolute;
  height: 325px;
  border-radius: 15px;
}
.judul-trending{
  height: 50px;
  background-color: #ff000000;
}
.rating-trending{
  display: flex;
  height: 40px;
  background-color: #00000000;
  font-weight: 500;
  font-size: 20px;
  position: relative;
}
.info-kiri{
  gap: 15px;
  cursor: pointer;
}
.info-kiri > p{
  margin-bottom: 5px;
  color: #ffffff;
}
.info-kiri > p:nth-child(1){
  color: red;
  padding-right: 15px;
  border-right: 2px solid white;
} 
.info-kiri > p:nth-child(2){
  padding-right: 15px;
  border-right: 2px solid white;
}
.info-kanan{
  font-size: 17px;
  padding-top: 8px;
}
.sinopsis{
  height: 380px;
  border-radius: 15px;
  align-items: flex-start;
  justify-content: center;
  background-color: #ff000000;
}
.like:hover{
  cursor: pointer;
  color: red;
  transform: scale(1.2);
  transition: all 0.2s ease ease-in-out;
}
.close-btn{
  position: absolute;
  background-color: #ffffff00;
  border: #ffffff00;
  font-size: 40px;
  top: -20px;
  left: 575px;
  cursor: pointer;
  padding: 3px;
}
/* Navigasi */
.owl-nav button {
  background-color: #00000000!important;
  height: 50px;
  width: 30px;
}
.owl-nav button:hover {
  background-color: #2b4bff!important;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: -28px;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: -28px;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
/* Responsive */
@media (max-width: 550px) {
  .movie-name,
  .kategori-rating {
    display: none;
  }
}
@media (max-width: 576px){
  .modal-dialog {
    height: 600px;
    width: 360px;
  }
  .video-content,
  .video-content iframe {
    width: 300px;
    height: 181px;
  }
  .judul-trending{
    width: 360px;
    height: 40px;
  }
  .sinopsis{
    width: 360px;
    height: 285px;
    font-size: small;
  }
  .close-btn{
    left: 298px;
  }
  .info-kanan{
    display: none;
  }
}
@media (min-width: 576px){
  .video-content {
    padding-bottom: 65%;
  }
  .judul-trending,
  .sinopsis{
    width: 500px;
  }
  .close-btn{
    left: 445px;
  }
  .info-kanan{
    display: none;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 550px;
  }
  .video-content {
    padding-bottom: 65%;
  }
  .close-btn{
    left: 445px;
  }
  .info-kanan{
    display:flex;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
  .video-content {
    padding-bottom: 50.75%;
  }
  .judul-trending,
  .sinopsis{
    width: 640px;
  }
  .close-btn{
    left: 575px;
  }
}
@media (min-width: 1080px) {
  .container {
    max-width: 875px;
  }
}
@media (min-width: 1230px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1100px;
  }
  .movie-name{
    margin-top: 70px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1295px;
  }
  .movie-name{
    margin-top: 150px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1560px;
  }
}


/* Content Film oleh Ahmad Faiz */
/* Branch: FILM */
/* Penanggung Jawab Branch: Ahmad Faiz */

.col{
  max-height: 100vh;
  overflow: auto;
}

.card-film{
  position: relative;
  margin-bottom: 56px;
  z-index: 1000;
  background: transparent;
}

.card-film > .card-body-film > .card-title-film{
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 10px;
  height: 10px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-active{
  transform: scale(1) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swiper-slide-prev, .swiper-slide-next{
  transform: scale(.75) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swiper-button-next, .swiper-button-prev{
  background-color: #000000;
  padding: 18px;
  color: #ffffff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  transform: scale(.8);
  opacity: .2;
  box-sizing: border-box;
}

.swiper-button-next::after, .swiper-button-prev::after{
  transform: scale(.8);
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  transition: 0.4s ease-in-out;
  transform: scale(1);
  opacity: 1;
}

/* Pop Up */
/* Style the modal */
.modal-film {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1500; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  
  left: 50%;
  top: 45%; /* mengatur atas bawah modul */
  transform: translate(-50%, -50%); /* Geser modal ke tengah secara tepat */

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(140, 0, 255); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.407); /* Black w/ opacity */
  backdrop-filter: blur(1px);
   /* Gaya CSS lainnya */
   width: 100vw; /* instead of 100% */
   height: 130vh; /* instead of 130% */
   justify-content: center; /* Menengahkan modal */
}


.modal-content-film {
  margin: auto;
  /* Menggunakan flexbox */
  flex-direction: row; /* Menata letak elemen secara horizontal */
  align-items: center; /* Mengatur vertikal alignment ke tengah */
  justify-content: space-between; /* Menyisakan ruang di antara gambar dan caption */
  top: 30%;
  left: 15%;
  width: 90%; /* Menggunakan unit persentase */
  max-width: 800px; /* Menyesuaikan lebar maksimum */
  max-height: 80vh;
  padding: 10px;
  position: relative;
  background-color: #000000ea;
  display: flex;
  flex-direction: column;
}

.posisi-kiri{
  background-color: #000000;
  height: 515px;
  margin-left: -50%;
  width: 0px;
}
#myposter-film {
  height: 515px;
  margin-left: -00%;
  width: 0px;
}

.play-btn {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.945);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-btn i {
  color: rgb(255, 0, 0);
  font-size: 24px;
}

.posisi-kanan{
 
  height: 515px;
  margin-left: 50%;
  margin-top: -60%;
  
}

.posisi-kanan h1 {
  color: #fff;
}

.sinopsis-film {
  color: #ffffff;

}

.views-film {
  position: absolute;

  font-size: 17px;
  white-space: nowrap;
  background-color: #ffef08ac;
  color: #000000;
  border-radius: 9px;
  align-items: center;
  padding: 5px 10px 5px;
}


.rating-film {
  cursor: pointer;
  position: absolute;
  top: 440px;
  left: 500px;
  font-size: 17px;
  white-space: nowrap;
  background-color: #ffef08a8;
  color: #000000;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px;

}

.star {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.star::before {
  content: '\2605';
}


.like-btn {
  cursor: pointer;
  position: absolute;
  top: 440px;
  left: 430px;
  font-size: 17px;
  white-space: nowrap;
  background-color: #ffef08a8;
  color: #ff0000;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px;
}

.like-btn:hover {
  color: rgb(255, 0, 0); /* Ubah warna ikon saat mouse di atasnya */
}

.like-icon {
  color: #ff0000;
}

.text-danger {
  color: red;
}
.text-secondary {
  color: grey;
}

.views-film {
  cursor: pointer;
  position: absolute;
  top: 440px;
  left: 565px;
  font-size: 17px;
  white-space: nowrap;
  background-color: #ffef08a8;
  color: #000000;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px;
}
/* Modal Content (image) */
/* buat responsive */
@media (max-width: 1028px) {
  .posisi-kiri{
    height: 485px;
  }
  #myposter-film {
    height: 485px;
  }
}

@media (min-width: 830px) {
  .posisi-kiri{
    height: 455px;
  }
  #myposter-film {
    height: 455px;
  }
}

@media (max-width: 788px) {
  .posisi-kiri{
    height: 465px;
  }
  #myposter-film {
    height: 465px;
  }
}

@media (min-width: 789px) {
  .posisi-kiri{
    height: 465px;
  }
  #myposter-film {
    height: 465px;
  }
}


@media (max-width: 890px) {
  .posisi-kiri{
    width: 325px;
  }
  #myposter-film {
    width: 325px;
  }
}

@media (min-width: 724px) {
  .posisi-kiri{
    width: 265px;
  }
  #myposter-film {
    width: 265px;
  }
}


@media (max-width: 907px) {
  .posisi-kiri{
    width: 325px;
  }
  #myposter-film {
    width: 325px;
  }
}

@media (max-width: 890px) {
  .posisi-kiri{
    width: 325px;
  }
  #myposter-film {
    width: 325px;
  }
}

@media (max-width: 721px) {
  .posisi-kiri{
    width: 275px;
  }
  #myposter-film {
    width: 275px;
  }
}

@media (min-width: 898px) {
  .posisi-kiri{
    width: 325px;
  }
  #myposter-film {
    width: 325px;
  }
}

@media (min-width: 720px) {
  .posisi-kiri{
    width: 275px;
  }
  #myposter-film {
    width: 275px;
  }
}

@media (max-width: 1238px) {
  .posisi-kiri{
    width: 405px;
    height: 300px;
  }
  #myposter-film {
    width: 405px;
    height: 300px;
  }
}

@media (max-width: 896px) {
  .posisi-kiri{
    width: 345px;
  }
  #myposter-film {
    width: 345px;
  }
}

@media (max-width: 891px) {
  .posisi-kiri{
    width: 340px;
  }
  #myposter-film {
    width: 340px;
  }
}

@media (max-width: 1238px) {
  .posisi-kanan{
    height: 510px;
  }
  
}



@media (max-width: 550px) {
  .posisi-kiri{
    height: 250px;
    width: 280px;
    margin-left: 0%;
  }
  #myposter-film {
    height: 250px;
    width: 280px;
    margin-left: 0%;
  }
  .posisi-kanan{
    height: 510px;
    width: 90%;
    margin-left: 0%;
    margin-top: 5%;
  }
  .posisi-kanan h1 {
    margin-left: 0%;
    width: 90%;
    margin-top: 5%;
  }
  .sinopsis-film {
    font-size: small;
  }
  .play-btn {
    margin-top: -130px;
    margin-left: 80px;
    width: 30px;
    height: 30px;
  }

  .views-film {
    margin-left: -173%;
    margin-top: 17%;
    font-size: small;
  }
  .like-btn {
    margin-left: -110%;
    margin-top: 17%;
    font-size: small;
  }
  .rating-film {
    margin-left: -113%;
    margin-top: 17%;
    font-size: small;
  }
}



@media (min-width: 550px) {
  
  .posisi-kiri{
    height: 250px;
    width: 280px;
    margin-left: 0%;
  }
  #myposter-film {
    height: 250px;
    width: 280px;
    margin-left: 0%;
  }
  .posisi-kanan{
    height: 510px;
    width: 90%;
    margin-left: 0%;
    margin-top: 5%;
  }
  .posisi-kanan h1 {
    margin-left: 0%;
    width: 90%;
    margin-top: 5%;
  }
  .sinopsis-film {
    font-size: small;
  }
  .play-btn {
    margin-top: -130px;
    margin-left: 80px;
    width: 30px;
    height: 30px;
  }
  .views-film {
    margin-left: -173%;
    margin-top: 17%;
    font-size: small;
  }
  .like-btn {
    margin-left: -110%;
    margin-top: 17%;
    font-size: small;
  }
  .rating-film{
    margin-left: -113%;
    margin-top: 17%;
    font-size: small;
  }
}

@media (min-width: 775px) {
  .posisi-kiri{
    width: 300px;
    height: 500px;
    margin-left: -25%;
  }
  #myposter-film {
    width: 300px;
    height: 500px;
    margin-left: -25%;
  }
  .posisi-kanan{
    width: 300px;
    margin-left: 50%;
    margin-top: -30%;
  }
  .modal-content-film{
    left: 35%;
    top: 85%;
    max-height: 65%;
  }
}

  

@media (min-width: 1344px) {
  .posisi-kiri{
    width: 70%;
    height: 500px;
    margin-left: -10%;
    
  }
  #myposter-film {
    width: 70%;
    height: 500px;
    margin-left: -10%;
  }
  .posisi-kanan{
    width: 60%;
    margin-left: 35%;
    margin-top: -40%;
  }
  .posisi-kanan h1 {
    margin-left: 35%;
    width: 60%;
    margin-top: -40%;
  }
  .sinopsis-film {
    font-size: medium;
    margin-left: 30%;
    margin-top: 10%;
  }
  .play-btn {
    margin-top: -10px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
  }
  .views-film {
    margin-left: -15%;
    margin-top: 5%;
    font-size: medium;
  }
  .like-btn {
    margin-left: 11%;
    margin-top: 5%;
    font-size: medium;
  }
  .rating-film{
    margin-left: 11%;
    margin-top: 5%;
    font-size: medium;
  }
  .modal-content-film{
    left: 35%;
    top: 85%;
    max-height: 65%;
  }
}

 


@media (max-width: 550px) {
  .modal-content-film{
    margin-left: -10%;
    margin-top: -40%;
    height: 70%;
  }
}

@media (min-width: 550px) {
  .modal-content-film{
    margin-left: -10%;
    margin-top: -40%;
    height: 70%;
  }
}  



  
#videoFrame {
  width: 560px; /* Atur lebar video sesuai kebutuhan */
  height: 315px; /* Atur tinggi video sesuai kebutuhan */
  position: absolute; /* Tetapkan posisi absolut untuk video */
  top: 100%; /* Geser video ke tengah vertikal */
  left: 50%; /* Geser video ke tengah horizontal */
  transform: translate(-50%, -50%); /* Geser video ke tengah secara tepat */
}




/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
     font-size: 14px; /* reduce font size */
     padding: 5px; /* reduce padding */
   }
 }


  /* Content Music oleh Siswo Adi Nugroho */
  /* Branch: MUSIC */
  /* Penanggung Jawab Branch: Siswo Adi Nugroho */
  .col{
    max-height: 100vh;
    overflow: auto;
  }
  
  .card-music{
    position: relative;
    margin-bottom: 56px;
    z-index: 1000;
    background: transparent;
  }
  
  .card-music > .card-body > .card-title{
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 10px;
    height: 10px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
  }
  
  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
  }
  
  .swiper-slide:hover > .hover-card{
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .hover-card{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    flex-direction: column;
  
  
    position: absolute;
    z-index: 100;
    width: 150%;
    height: 100%;
  
    background-color: #303440;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02);
    border-radius: 8px;
  
  }
  
  .hover-card-header{
    position: relative;
  }
  
  .hover-card-header > img{
    width: 100% !important;
    height: 124px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .hover-card-warp-btn{
    position: absolute;
    bottom: 14px;
    right: 14px;
  }
  
  .hover-card-warp-btn > button{
    background: transparent;
    outline: none;
    border: none;
    background: lightgreen;
    border-radius: 100%;
  }
  
  .hover-card-warp-btn > button:nth-child(1){
    color: #fff;
  }
  
  .hover-card-warp-btn > button:nth-child(2){
    color: black;
    background: gray;
  }
  
  
  
  .hover-card-body{
    padding: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .hover-card-body > h4{
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
  }
  
  .hover-card-body > h4:hover{
    color: lightgreen;
  }
  
  .hover-card-body > p{
    color: #fff;
    font-size: 12px;
    text-align: left; 
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .hover-card-body > a{
    font-size: 10px;
    text-decoration: none;
    color: lightgreen;
    margin-left: auto;
    width: 100%;
    display: block;
    text-align: right;
  }
  
  .hover-card-info{
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
  }
  
  .hover-card-info > p{
    color: #fff;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 0;
  }
  
  .hover-card-info > p:nth-child(1){
    color: rgb(223, 48, 17);
    padding-right: 8px;
    border-right: 1px solid gray;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide-active{
    transform: scale(1) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .swiper-slide-prev, .swiper-slide-next{
    transform: scale(.75) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .swiper-button-next, .swiper-button-prev{
    background-color: #000000;
    padding: 18px;
    color: #ffffff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    transform: scale(.8);
    opacity: .2;
    box-sizing: border-box;
  }
  
  .swiper-button-next::after, .swiper-button-prev::after{
    transform: scale(.8);
  }
  
  .swiper-button-next:hover, .swiper-button-prev:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1);
    opacity: 1;
  }
  



/* Content TV Show oleh Haikal Ihza */
/* Branch: TV */
/* Penanggung Jawab Branch: Haikal Ihza */
 /* .col{
    max-height: 100vh;
    overflow: auto;
  } */

   .card-tv{
    position: relative;
    margin-bottom: 56px;
    z-index: 1000;
    background: transparent;
  } 

   .card-tv > .card-body-tv > .card-title-tv{
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 10px;
    height: 10px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  /* .swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
  } */

  /* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  /* .swiper-slide-active{
    transform: scale(1) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */

  /* .swiper-slide-prev, .swiper-slide-next{
    transform: scale(.75) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */

  /* .swiper-button-next, .swiper-button-prev{
    background-color: #000000;
    padding: 18px;
    color: #ffffff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    transform: scale(.8);
    opacity: .2;
    box-sizing: border-box;
  } */
  
  /* .swiper-button-next::after, .swiper-button-prev::after{
    transform: scale(.8);
  }
   */
  /* .swiper-button-next:hover, .swiper-button-prev:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1);
    opacity: 1;
  }    */
