.col{
    max-height: 100vh;
    overflow: auto;
  }
  
  .card-music{
    position: relative;
    margin-bottom: 56px;
    z-index: 1000;
    background: transparent;
  }

  .card-music img{
    border: solid 2px transparent;
    border-radius: 18px;
  }
  
  .card-music > .card-body > .card-title{
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 10px;
    height: 10px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
  }
  
  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .swiper-slide:hover > .hover-card{
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .hover-card{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    flex-direction: column;
  
  
    position: absolute;
    z-index: 100;
    width: 150%;
    height: 100%;
  
    background-color: #303440;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02);
    border-radius: 8px;
  
  }
  
  .hover-card-header{
    position: relative;
  }
  
  .hover-card-header > img{
    width: 100% !important;
    height: 124px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .hover-card-warp-btn{
    position: absolute;
    bottom: 14px;
    right: 14px;
  }
  
  .hover-card-warp-btn > button{
    background: transparent;
    outline: none;
    border: none;
    background: lightgreen;
    border-radius: 100%;
  }
  
  .hover-card-warp-btn > button:nth-child(1){
    color: #fff;
  }
  
  .hover-card-warp-btn > button:nth-child(2){
    color: black;
    background: gray;
  }
  
  
  
  .hover-card-body{
    padding: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .hover-card-body > h4{
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
  }
  
  .hover-card-body > h4:hover{
    color: lightgreen;
  }
  
  .hover-card-body > p{
    color: #fff;
    font-size: 12px;
    text-align: left; 
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .hover-card-body > a{
    font-size: 10px;
    text-decoration: none;
    color: lightgreen;
    margin-left: auto;
    width: 100%;
    display: block;
    text-align: right;
  }
  
  .hover-card-info{
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
  }
  
  .hover-card-info > p{
    color: #fff;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 0;
  }
  
  .hover-card-info > p:nth-child(1){
    color: rgb(223, 48, 17);
    padding-right: 8px;
    border-right: 1px solid gray;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide-active{
    transform: scale(1) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .swiper-slide-prev, .swiper-slide-next{
    transform: scale(.75) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .swiper-button-next, .swiper-button-prev{
    background-color: #000000;
    padding: 18px;
    color: #ffffff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    transform: scale(.8);
    opacity: .2;
    box-sizing: border-box;
  }
  
  .swiper-button-next::after, .swiper-button-prev::after{
    transform: scale(.8);
  }
  
  .swiper-button-next:hover, .swiper-button-prev:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1);
    opacity: 1;
  }




.modal-dialog#music-modal-dialog{
    height: auto !important;
}

.modal-content-music{
    position: relative;
    flex-direction: row;
}

.banner-music-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 14px;
    border-radius: 30px;
}

.banner-music-content h4{
    color: black;
    position: absolute;
    top: 17px;
    left: 27px;
    font-size: 20px;
    font-weight: 800;
}

.list-music-content{
    padding: 14px;
    width: 100%;
}

.list-music-content ul {
    padding: 12px 0;
    list-style: none;
    max-height: 340px;
    overflow: auto;
    padding-right: 8px;
}

.audio-item{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border: solid 1px white;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 8px;
}

.audio-item p{
    color: white;
    margin-bottom: 0;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.audio-item-btn{
    display: flex;
    gap: 2px;
}

.audio-item-btn button{
    background: transparent;
    color: white;
    outline: none;
    border: none;
}

@media only screen and (max-width: 991px) {
    .modal-content-music{
        flex-direction: column;
    }
}
