       /* Gaya untuk suggestions */
       #suggestions {
        padding: 10px;
        background-color: #1a1a1b;
        border-radius: 5px;
        margin-top: 10px;
        max-width: 1920px; /* Atur lebar maksimum suggestion */
    }
    
    /* Gaya untuk setiap item dalam suggestions */
    .suggestion-item {
        margin-bottom: 10px;
        display: flex; /* Menggunakan Flexbox */
        align-items: center; /* Menyamakan tinggi item */
    }
    
    .suggestion-item img.thumbnail {
        width: 50px;
        height: auto; /* Atur tinggi gambar sesuai proporsi */
        border-radius: 5px;
        margin-right: 100px;
    }
    
    /* Gaya untuk teks */
    .suggestion-item .text-container {
        flex: 1; /* Bagian teks akan mengisi sisa ruang yang tersedia */
        color: #ffffff;
    }
    
    /* Gaya untuk tombol dismiss */
    .dismiss-button {
        background-color: transparent;
        border: none;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
        outline: none;
        margin-left: auto; /* Untuk menempatkan tombol dismiss ke kanan */
    }
    
    /* Gaya hover untuk tombol dismiss */
    .dismiss-button:hover {
        color: #ff0000;
    }