/* CSS styles */

/* Base Layout oleh Febri */
/* Branch: BASE */
/* Penanggung Jawab Branch: Febri */
    /* Custom styles */
    .sidebar {
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    @media (min-width: 768px) {
      .sidebar {
        height: calc(100vh - 56px); /* Adjust for the navbar height */
      }
    }

    /* Hide Sidebar on Small Devices */
    @media (max-width: 767.98px) {
      .sidebar.hide {
        display: none;
      }
    }

    .footer {
    background-color: #2661df; /* Warna hijau dari Bootstrap */
    padding: 20px 0;
    text-align: center;
    color: white; /* Teks warna putih */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }

    /* Tombol Toggle Sidebar hanya muncul di mode mobile */
    @media (min-width: 768px) {
      .toggle-sidebar-mobile {
        display: none;
      }
    }

    /* Tombol Toggle Sidebar hanya muncul di mode desktop */
    @media (min-width: 1080px) {
      .toggle-sidebar-desktop {
        display: none;
      }
    }
  
  /* Content Film oleh Ahmad Faiz */
  /* Branch: FILM */
  /* Penanggung Jawab Branch: Ahmad Faiz */
  








  /* Content Music oleh Siswo Adi Nugroho */
  /* Branch: MUSIC */
  /* Penanggung Jawab Branch: Siswo Adi Nugroho */
  








  /* Content TV Show oleh Haikal Ihza */
  /* Branch: TV */
  /* Penanggung Jawab Branch: Haikal Ihza */
  
  
 
  